# This is a configuration definition file in folder "/home/adrian/ltl_h2sl/build/ltlmop/src/ltlmop/src/examples/ltl_h2sl/assemble/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
put_left = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( action_type="ACTION_TYPE_INSERT", objects =[ (" ", "OBJECT_TYPE_ROBOT_LEFT_HAND","OBJECT_COLOR_UNKNOWN"), ("left u", "OBJECT_TYPE_U_BLOCK", "OBJECT_COLOR_RED" ), ("ubar", "OBJECT_TYPE_HOLDER", "OBJECT_COLOR_UNKNOWN") ] )
put_right = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( action_type="ACTION_TYPE_INSERT", objects =[ (" ", "OBJECT_TYPE_ROBOT_RIGHT_HAND","OBJECT_COLOR_UNKNOWN"), ("right u", "OBJECT_TYPE_U_BLOCK", "OBJECT_COLOR_RED" ), ("ubar", "OBJECT_TYPE_HOLDER", "OBJECT_COLOR_UNKNOWN") ] )
lift_assembly = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( action_type="ACTION_TYPE_PICKUP", objects =[ (" ", "OBJECT_TYPE_ROBOT_RIGHT_HAND", "OBJECT_COLOR_UNKNOWN"), ("ubar", "OBJECT_TYPE_HOLDER", "OBJECT_COLOR_UNKNOWN") , ("table", "OBJECT_TYPE_TABLE", "OBJECT_COLOR_UNKNOWN")] )
help = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( action_type="ACTION_TYPE_INTERVENTION", objects=[] )
  
Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot_baxter

Name: # Configuration name
rocbot_baxter_002

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
left_available = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_left(object_type1="OBJECT_TYPE_U_BLOCK", object_color1="OBJECT_COLOR_UNKNOWN",object_type2="OBJECT_TYPE_ROBOT_TORSO",object_color2="OBJECT_COLOR_UNKNOWN")
right_available = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_right(object_type1="OBJECT_TYPE_U_BLOCK", object_color1="OBJECT_COLOR_UNKNOWN",object_type2="OBJECT_TYPE_ROBOT_TORSO",object_color2="OBJECT_COLOR_UNKNOWN")


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rocbot_baxter.RocbotBaxterNullPoseHandler()

RobotName: # Robot Name
rocbot_baxter

Type: # Robot type
rocbot_baxter

