# This is a configuration definition file in folder "/home/adrian/ltl_h2sl/build/ltlmop/src/ltlmop/src/examples/ltl_h2sl/sort/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

pickup_from_tray = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( gripper="right", action_type = "ACTION_TYPE_PICKUP", object_ids = ["cube1"])
pickup_from_side = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( gripper="left", action_type = "ACTION_TYPE_PICKUP", object_ids = ["cube2"] )
place_on_tray = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( gripper = "left", action_type = "ACTION_TYPE_DROP", object_ids = ["tray"] )
drop_in_bin = rocbot_baxter.RocbotBaxterActionHandler.action_dispatch( gripper = "right", action_type = "ACTION_TYPE_DROP", object_ids = ["garbage_can2"] )

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot_baxter

Name: # Configuration name
rocbot_baxter

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
tray_on_right = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_right(object_ids = ["tray"] )
tray_on_left = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_left( object_ids = ["tray"]) 
tray_clear = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_clear(object_ids = ["tray"], max_thr=0.2)
have_object = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_observed( object_ids = ["cube2"] )


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

SensorHandler: # RocbotBaxter simulator world state, triggers sensors
rocbot_baxter.RocbotBaxterSensorHandler()

ActuatorHandler:
rocbot_baxter.RocbotBaxterActionHandler()

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rocbot_baxter.RocbotBaxterNullPoseHandler()

RobotName: # Robot Name
rocbot_baxter

Type: # Robot type
rocbot_baxter

