======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup_from_tray = share.DummyActuatorHandler.setActuator(name='pickup_from_tray')
pickup_from_side = share.DummyActuatorHandler.setActuator(name='pickup_from_side')
drop_in_bin = share.DummyActuatorHandler.setActuator(name='drop_in_bin')
place_on_tray = share.DummyActuatorHandler.setActuator(name='place_on_tray')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot

Name: # Configuration name
simulationOnly

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
tray_on_left = rocbot.RocbotSensorHandler.sensor_type_left(object_type1="OBJECT_TYPE_TRAY", object_color1="na",object_type2="OBJECT_TYPE_ROBOT_TORSO",object_color2="na")
tray_on_right = rocbot.RocbotSensorHandler.sensor_type_right(object_type1="OBJECT_TYPE_TRAY", object_color1="na",object_type2="OBJECT_TYPE_ROBOT_TORSO",object_color2="na")
tray_full = rocbot.RocbotSensorHandler.sensor_type_full(object_type="OBJECT_TYPE_TRAY", object_color="na")

# This is a configuration definition file in folder "/home/adrian/task2logic/data/ltl_spec/sort/configs".
# Format details are described at the beginning of each section below.

