# This is a configuration definition file in folder "/home/adrian/ltl_h2sl/build/ltlmop/src/ltlmop/src/examples/ltl_h2sl/sort/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot_baxter

Name: # Configuration name
rocbot_baxter_006

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
blue1 = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_observed(object_type="OBJECT_TYPE_CUBE", object_color="OBJECT_COLOR_BLUE")
left_bin_clear = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_clear(object_type="OBJECT_TYPE_BIN", object_color="OBJECT_COLOR_UNKNOWN")
blue3 = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_observed(object_type="OBJECT_TYPE_CUBE", object_color="OBJECT_COLOR_BLUE")
blue2 = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_observed(object_type="OBJECT_TYPE_CUBE", object_color="OBJECT_COLOR_BLUE")
right_bin_clear = rocbot_baxter.RocbotBaxterSensorHandler.sensor_type_clear(object_type="OBJECT_TYPE_BIN", object_color="OBJECT_COLOR_UNKNOWN")


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
rocbot_baxter.RocbotBaxterLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
rocbot_baxter.RocbotBaxterNullPoseHandler()

RobotName: # Robot Name
rocbot_baxter

Type: # Robot type
rocbot_baxter

