# This is a configuration definition file in folder "/home/adrian/ltl_h2sl/build/ltlmop/src/ltlmop/src/examples/ltl_h2sl/sort/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup_blue1 = share.DummyActuatorHandler.setActuator(name='pickup_blue1')
help = share.DummyActuatorHandler.setActuator(name='help')
drop_left = share.DummyActuatorHandler.setActuator(name='drop_left')
drop_right = share.DummyActuatorHandler.setActuator(name='drop_right')
pickup_red1 = share.DummyActuatorHandler.setActuator(name='pickup_red1')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot

Name: # Configuration name
rocbot

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
red1 = rocbot.RocbotSensorHandler.sensor_type_observed(object_type="OBJECT_TYPE_CUBE", object_color="OBJECT_COLOR_RED")
right_bin_clear = rocbot.RocbotSensorHandler.sensor_type_clear(object_type="OBJECT_TYPE_BIN", object_color="OBJECT_COLOR_UNKNOWN")
blue1 = rocbot.RocbotSensorHandler.sensor_type_observed(object_type="OBJECT_TYPE_CUBE", object_color="OBJECT_COLOR_BLUE")
left_bin_clear = rocbot.RocbotSensorHandler.sensor_type_clear(object_type="OBJECT_TYPE_BIN", object_color="OBJECT_COLOR_UNKNOWN")


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])


