# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/drcdemo/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup_blue_left = share.DummyActuatorHandler.setActuator(name='pickup_blue_left')
pickup_blue_right = share.DummyActuatorHandler.setActuator(name='pickup_blue_right')
pickup_red_left = share.DummyActuatorHandler.setActuator(name='pickup_red_left')
pickup_red_right = share.DummyActuatorHandler.setActuator(name='pickup_red_right')
drop_left = share.DummyActuatorHandler.setActuator(name='drop_left')
drop_right = share.DummyActuatorHandler.setActuator(name='drop_right')
help = share.DummyActuatorHandler.setActuator(name='help')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
simulationOnly

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
blue_left = share.DummySensorHandler.buttonPress(name='blue_left')
blue_right = share.DummySensorHandler.buttonPress(name='blue_right')
red_left = share.DummySensorHandler.buttonPress(name='red_left')
red_right = share.DummySensorHandler.buttonPress(name='red_right')
left_bin_clear = share.DummySensorHandler.buttonPress(name='left_bin_clear')
right_bin_clear = share.DummySensorHandler.buttonPress(name='right_bin_clear')

======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim

