# This is a configuration definition file in folder "/home/adrian/task2logic/data/ltl_spec/sort/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup_red_right = share.DummyActuatorHandler.setActuator(name='pickup_red_right')
drop_left = share.DummyActuatorHandler.setActuator(name='drop_left')
drop_right = share.DummyActuatorHandler.setActuator(name='drop_right')
pickup_red_left = share.DummyActuatorHandler.setActuator(name='pickup_red_left')
pickup_blue_right = share.DummyActuatorHandler.setActuator(name='pickup_blue_right')
pickup_blue_left = share.DummyActuatorHandler.setActuator(name='pickup_blue_left')
help = share.DummyActuatorHandler.setActuator(name='help')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rocbot

Name: # Configuration name
simulationOnly

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
blue_right = rocbot.RocbotSensorHandler.sensor_handler(sensor_type="SENSOR_TYPE_OBSERVED", [{"obj_type":"OBJECT_TYPE_CUBE", "obj_color":"OBJECT_COLOR_BLUE"}],init_value=False)
blue_left = share.DummySensorHandler.buttonPress(button_name='blue_left', init_value=False)
right_bin_clear = share.DummySensorHandler.buttonPress(button_name='right_bin_clear', init_value=False)
red_right = share.DummySensorHandler.buttonPress(button_name='red_right', init_value=False)
left_bin_clear = share.DummySensorHandler.buttonPress(button_name='left_bin_clear', init_value=False)
red_left = share.DummySensorHandler.buttonPress(button_name='red_left', init_value=False)


======== Robot1 Config ========

#CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
#array([[1, 0, 0],
#       [0, 1, 0],
#       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
rocbot.RocbotInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder

RobotName: # Robot Name
rocbot

Type: # Robot type
rocbot

